
.screen {
  display: block;
  width: 100%;
}

.right {
  margin-right: 20px;
}

.large {
  font-size: 2.75vw;
}

.medium {
  font-size: 2vw;
}

.body {
  text-align: justify;
  font-size: 1.5vw;
}

.split {
  height: 20px;
  background-image: url("../website/assets/sayagata black.png");
  filter:brightness(2);
}
