

body {
    background-image: url("../resources_website/sayagata black.png");
}

.head {
  background-image: url("../resources_website/sayagata white.png");
}

.hidden {
  transition: 0.5s;
  opacity: 0;
}

.img {
  transition: 0.5s;
  position: relative;
  top: 50%;
  width: 80%;
  transform: translate(0%,-50%);
}

.paragraph {
  text-align: justify;
  top: 5%;
  width: 90%;
  margin: auto;
  padding: 0;
}

.img-block {
  display: inline-block;
  margin: 15px;
}

.block {
  display: inline-block;
  width: 49%;
  height: 420px;
  vertical-align: top;
}

.container {
  width: 90%;
}

.vid-select {
  opacity: 0.6;
  vertical-align: top;
  display: inline-block;
  width:12%;
  height:90px;
}

.vid-select i {
  display: block;
  color: white;
  margin-top: 5%;
  transition: 0.5s;
  font-size: 5rem;
}

.white-bkg {
  background-color: white;
}

.black-bkg {
  background-color: black;
}

.transparent-bkg.trans-40 {
  opacity: 0.4;
}

.transparent-bkg.trans-60 {
  opacity: 0.6;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.large-size {
  font-size: 36px;
}

.outline {
  border-width: thin;
  border-color: #fff;
  border-style: solid;
}

.purple-outline {
  border-color: #951EFC;
}

.medium-size {
  font-size: 23px;
}

.center {
  width: 100%;
}
