
/*
*  FILL FX
*/
@keyframes ffx-in {
 from {
   background-position: 200% 0%;
 }
 to {
   background-position: 0% 0%;
 }
}

@keyframes ffx-out {
 from {
   background-position: 0% 0%;
 }
 to {
   background-position: 0% 200%;
 }
}

.ffx {
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-duration: 0.5s;
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1); 
 transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
 background-size: 200% 200%;
 background-position: 200% 0%;
 background-repeat: no-repeat;
}

.ffx.fx-in {
 animation-name: ffx-in;
}

.ffx.fx-out {
 animation-name: ffx-out;
}

.ffx.fx-dark {
 background-image: linear-gradient(to top right, transparent 25%, rgb(0, 0, 0, 0.5) 25%, rgb(0, 0, 0, 0.5) 75%, transparent 75%);
}

.ffx.fx-light {
 background-image: linear-gradient(to top right, transparent 25%, rgb(255, 255, 255, 0.5) 25%, rgb(255, 255, 255, 0.5) 75%, transparent 75%);
}

.ffx.fx-white {
 background-image: linear-gradient(to top right, transparent 25%, rgb(255, 255, 255, 1) 25%, rgb(255, 255, 255, 1) 75%, transparent 75%);
}

.ffx.fx-black {
 background-image: linear-gradient(to top right, transparent 25%, rgb(0, 0, 0, 1) 25%, rgb(0, 0, 0, 1) 75%, transparent 75%);
}


/*
*  SHINE
*/


@keyframes sfx {
 from {
   background-position: 200% 0%;
 }
 to {
   background-position: 0% 200%;
 }
}

 @keyframes sfx-back {
   from {
     background-position: 0% 200%;
   }
   to {
     background-position: 200% 0%;
   }
 }

.sfx {
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-duration: 0.5s;
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
 transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
 background-size: 200% 200%;
 background-position: 200% 0%;
 background-repeat: no-repeat;
}

.sfx.sfx-shine {
 animation-name: sfx;
 background-image: linear-gradient(to top right, transparent 25%, rgb(255, 255, 255, 1) 25%, rgb(255, 255, 255, 1) 75%, transparent 75%);
}

.sfx.sfx-back {
 animation-name: sfx-back;
 background-image: none;
}
