
.exercise {
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.help {
    display: block;
    font-family: 'RobotoMono';
    background-color: white;
    margin: auto;
    padding: 40px;
    text-align: left;
    padding-left: 90px;
    font-size: 1.2rem;
}

.exercise.hard {
  background-color: #f44336;
}


.exercise.easy {
  background-color: #4caf50;
}


.exercise.medium {
  background-color: #ff9800;
}

.exercise .answer {
  background-color: white;
  font-family: 'RobotoMono';
  text-align: left;
  padding: 5px;
  font-size: 0.8rem;
}

.chapters a {
  color: #1F51CF;
  transition: 0.5s;
  line-height: 1.5;
}

.chapters a:hover {
  transform: scale(1.1);
}
