.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: #A00800;
  border-radius: 50%;
  z-index: 1;
}

svg {
  position: absolute;
  fill: white;
  top: 51.75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.ring {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 0px solid #540400;
  transform: translate(-50%, -50%);
  animation: loading 5s ease-out forwards infinite;
  z-index: 3;
}

.ring.first {
  animation-delay: 0s;
}


.ring.second {
  animation-delay: 1s;
}


.ring.third {
  animation-delay: 4s;
}

@keyframes loading {
  0% {
    border-width: 0px;
  }

  40% {
    border-width: 6px;
    width: 0%;
    height: 0%;
  }

  100% {
    border-width: 6px;
    width: 100px;
    height: 100px;
  }
}
