
/*
 * BACKGROUND COLORS
 */
 .purple {
   background-color: #7100D3 !important
 }

 .purple.lightest {
   background-color: #951EFC !important
 }

 .purple.lighter {
   background-color: #8C07FF !important
 }

 .purple.darker {
   background-color: #5600A0 !important
 }

 .purple.darkest {
   background-color: #44007E !important
 }

 .red {
   background-color: #E02218 !important
 }

 .red.lightest {
   background-color: #FFBFBB !important
 }

 .red.lighter {
   background-color: #F86760 !important
 }

 .red.darker {
   background-color: #A00800 !important
 }

 .red.darkest {
   background-color: #570400 !important
 }

 .blue {
   background-color: #1F51CF !important
 }

 .blue.lightest {
   background-color: #698ADE !important
 }

 .blue.lighter {
   background-color: #436DD5 !important
 }

 .blue.darker {
   background-color: #0C3CB3 !important
 }

 .blue.darkest {
   background-color: #092D87 !important
 }

 .white {
   background-color: #ffffff !important;
 }

 .black {
   background-color: #000000 !important;
 }



/*
 * TEXT COLOR
 */
.text-purple {
  color: #7100D3 !important
}

.text-purple.lightest-text {
  color: #951EFC !important
}

.text-purple.lighter-text {
  color: #8C07FF !important
}

.text-purple.darker-text {
  color: #5600A0 !important
}

.text-purple.darkest-text {
  color: #44007E !important
}

.text-red {
  color: #E02218 !important
}

.text-red.lightest-text {
  color: #FFBFBB !important
}

.text-red.lighter-text{
  color: #F86760 !important
}

.text-red.darker-text {
  color: #A00800 !important
}

.text-red.darkest-text{
  color: #570400 !important
}

.text-blue {
  color: #1F51CF !important
}

.text-blue.lightest-text {
  color: #698ADE !important
}

.text-blue.lighter-text {
  color: #436DD5 !important
}

.text-blue.darker-text {
  color: #0C3CB3 !important
}

.text-blue.darkest-text {
  color: #092D87 !important
}

.text-white {
  color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}
