
body {
    background-image: url("../assets/runes_white.png");
    margin: 0;
    font-family: 'Lato';
}

@font-face {
    font-family: 'Lato';
    src: url("/fonts/Lato-Regular.ttf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoMono';
    src: url("/fonts/RobotoMono-Medium.ttf") format("opentype");
    font-weight: 400;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
 outline: 0;
}
